# part 1

import all necessary libraries (i.e. pandas and matplotlib)

In [2]:
# your code here

Read the provided file `titanic.csv` into a DataFrame

In [3]:
# your code here

print the following
- entries from the data frame
- descriptive statistics, what is the average age, the maximum number of siblings and children? 
- general information
- first 5 entries
- first 15 entries
- last 5 entries
- last 15 entries
- sample of random 10 entries

In [ ]:
# your code here

draw a histogram for age distribution using `matplotlib`

In [ ]:
# yoru code here

- Create a new DataFrame with only entries where age > 30.  
- Give number of such entires
- show only the women entries, how many  are there over the age of 30
- the men entries, how many men are there over the age of 30
- plot the new histogram for all ages >30, how does this histogram differ from the one you plotted above?

In [ ]:
# your code here

Use `pandas` to plot the pie chart of all classes on board the titanic.

In [ ]:
# your code here

use `pandas` to plot the bar chart of all towns that people embarked from.

In [ ]:
# your code here

# part 2

- Create a new DataFrame with 3 columns: fare, class, embark_town.  
- Clean your data from all `NaN` values.  
- Sort your DataFrame by fare in decreasing order.  
- Sort the same data frame in alphabetical order of the embarked_town.

In [ ]:
# your code here

Create a new DataFrame that holds all entries with classes 2 or 3.  Plot the histogram of classes 2 and 3.
In pandas `&` corresponds to logical `and`, and `|` corresponds to logical `or`

In [ ]:
# your code here

Customize row indices such that indices are according to embarked town, drop all `NaN` values, and sort in alphabetical order of embarked town.

In [ ]:
# your code here

Let's aggregate data into groups
- get the number of entries from each class (i.e. pclass column in csv file). How many people are in first class, how many in second class and how many in third? 
- get number of entries from each town.  There are a total of how many towns that people embarked from? 
- get general summary of each class, round the date to 2 decimal places and display your data such that the three classes are shown as columns
- get the number of suvivors and non-survivors in each class. 
- show full DataFrame of how many children, women and men are in each of the three classes. 
- plot women, men, children according to class

In [ ]:
# your code here

plot a bar graph with the number of children, women and men for each class of ticket

In [ ]:
# your code here